{% extends 'ArtSpaceShopBundle::base.html.twig' %}

{% block subtitle %}| Login{% endblock  %}

{% block body %}
    <section id="title_section">
        <h1>Login</h1>
    </section>
    <div class="container">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}


        {#Formulaire pour se connecter : #}
        <div class="formulaire">
            <form action="{{ path('art_space_shop_login_check') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <button type="submit" class="login">login</button>
            </form>
        </div>
    </div> <!-- Fin Container -->
{% endblock  %}

