{% extends 'ArtSpaceShopBundle::base.html.twig' %}

{% block subtitle %}| Register{% endblock  %}

{% block body %}
    <section id="title_section">
        <h1>Registration</h1>
    </section>
     <div class="container">
        {# affiche le formulaire d'inscription #}
        {{ form(registrationForm)}}
    </div> <!-- Fin Container -->
{% endblock  %}
